In [2]:
import pandas as pd
import json 
import csv
import os

In [4]:
ise = pd.read_csv("../ISE_DATASET_final2.csv")

,website,category,reachableornot,PIIleakageornot,raw_PII,PII_type,real_encoding,encoding,method,third_party,requires_authentication
0,nytimes.com,generalnews,yes,no,NaN,NaN,NaN,NaN,NaN,NaN,no
1,cnn.com,generalnews,yes,no,NaN,NaN,NaN,NaN,NaN,NaN,no
2,forbes.com,generalnews,yes,yes,60201,NaN,NaN,plain,get,d.agkn.com,no
3,theguardian.com,generalnews,yes,yes,60201,NaN,NaN,plain,post,api.permutive.com,yes
4,theguardian.com,generalnews,yes,yes,Evanston,NaN,NaN,plain,post,api.permutive.com,yes

In [43]:
ise.drop_duplicates(subset=["website"]).groupby([ise["category"], ise["reachableornot"]])["reachableornot"].count()

category        reachableornot
entertainment   no                25
                yes               28
generalnews     no                25
                yes               60
onlineshopping  no                30
                yes               51
sports          no                12
                yes               28
travel          no                17
                yes               35
Name: reachableornot, dtype: int64

In [44]:
ise.drop_duplicates(subset=["website"]).groupby([ise["category"]])["reachableornot"].count()

category
entertainment     53
generalnews       85
onlineshopping    81
sports            40
travel            52
Name: reachableornot, dtype: int64

In [55]:
reachabilitydf = ise.drop_duplicates(subset=["website"])[["website", "category", "reachableornot","requires_authentication"]]
reachabilitydf

               website     category reachableornot requires_authentication
0          nytimes.com  generalnews            yes                      no
1              cnn.com  generalnews            yes                      no
2           forbes.com  generalnews            yes                      no
3      theguardian.com  generalnews            yes                     yes
6              bbc.com  generalnews            yes                     yes
...                ...          ...            ...                     ...
1099     aircanada.com       travel             no                     NaN
1100     scitation.org       travel            yes                     yes
1101         sabre.com       travel             no                     NaN
1102          turo.com       travel            yes                      no
1103  fourseasons.com/       travel            yes                      no

[314 rows x 4 columns]

In [79]:
reachGames = pd.read_csv("../hars_games/extra/reachability_notes.csv")
reachGames

                 site reachable                    reason confirmaccount notes
0       epicgames.com       yes                       NaN            yes   NaN
1           twitch.tv        no       browsernotsupported            NaN   NaN
2          roblox.com        no  doesnotacceptstdpassword            NaN   NaN
3    steampowered.com       yes                       NaN            yes   NaN
4              ea.com       yes                       NaN            yes   NaN
..                ...       ...                       ...            ...   ...
106         ludia.net        no                  nosignup            NaN   NaN
107         dycdn.com        no                IPnotfound            NaN   NaN
108       blizzard.cn        no       ownedbyblizzard.com            NaN   NaN
109      gamepass.com        no           ownedbyxbox.com            NaN   NaN
110     giantbomb.com       yes                       NaN            yes   NaN

[111 rows x 5 columns]

In [80]:
reachGames.rename(columns={"site":"website", "reachable": "reachableornot", "confirmaccount": "requires_authentication", "reason": "reason", "notes":"notes"}, inplace=True)
reachGames.insert(1,"category", "games")
reachGames

,website,category,reachableornot,reason,requires_authentication,notes
0,epicgames.com,games,yes,NaN,yes,NaN
1,twitch.tv,games,no,browsernotsupported,NaN,NaN
2,roblox.com,games,no,doesnotacceptstdpassword,NaN,NaN
3,steampowered.com,games,yes,NaN,yes,NaN
4,ea.com,games,yes,NaN,yes,NaN
...,...,...,...,...,...,...
106,ludia.net,games,no,nosignup,NaN,NaN
107,dycdn.com,games,no,IPnotfound,NaN,NaN
108,blizzard.cn,games,no,ownedbyblizzard.com,NaN,NaN
109,gamepass.com,games,no,ownedbyxbox.com,NaN,NaN
110,giantbomb.com,games,yes,NaN,yes,NaN

In [81]:
alldf = pd.concat([reachGames, reachabilitydf])
alldf.to_csv("../all_reachability.csv")

In [82]:
alldf.groupby([alldf["category"]])["website"].count()

category
entertainment      53
games             111
generalnews        85
onlineshopping     81
sports             40
travel             52
Name: website, dtype: int64

In [83]:
alldf.groupby([alldf["category"],alldf["reachableornot"]])["reachableornot"].count()

category        reachableornot
entertainment   no                25
                yes               28
games           no                71
                yes               40
generalnews     no                25
                yes               60
onlineshopping  no                30
                yes               51
sports          no                12
                yes               28
travel          no                17
                yes               35
Name: reachableornot, dtype: int64

In [84]:
alldf.groupby([alldf["reachableornot"]])["reachableornot"].count()

reachableornot
no     182
yes    242
Name: reachableornot, dtype: int64